/1707_Lambda/nbproject/private/
/1707_Lambda/build/
/1707_DateAndTime/nbproject/private/
/1707_DateAndTime/build/
/1707_DateAndTime/build/
/io/PropertiesFile/nbproject/private/
/io/PropertiesFile/build/
/io/IO_Studying/nbproject/private/
/io/IO_Studying/build/
/1707_DateAndTime/dist/
/RabbitMQ Introducing/nbproject/private/
/RabbitMQ Introducing/build/
/JavaPipes/nbproject/private/
/io/Files/nbproject/private/
/io/Files/build/